.message-board {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

input,
textarea {
  text-align: center;
  margin-bottom: 0.5rem;
  padding: 0.25rem;
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

textarea {
  resize: none;
  width: 100%;
  min-height: 60px;
}

.messages-container {
  padding: 1rem;
  background-color: #000000;
}

.message-bubble {
  background-color: #f0f0f0;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 81%;
  max-width: 600px;
  word-wrap: break-word;
  position: relative;
}

.message-info {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.message-name {
  font-weight: bold;
}

button[type='submit'] {
  background-color: #ffffff;
  color: #000000;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type='submit']:hover {
  background-color: #c09c0f;
  color: #fff;
}

.message-expiration {
  font-size: 1rem;
  color: #444;
  margin-bottom: 1rem;
}
